# Ignore dependencies
node_modules
.prisma
.next
.next
.git

# Ignore build output
dist

# Ignore local dev data
qdrant_data
uploads

# Misc

npm-debug.log
.env.local

resources/models/phi-4-mini-reasoning